@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* * Semantic colors */
    --color-success: #10B981;
    --color-warning: #F59E0B;
    --color-error: #EF4444;
  }
  
  body {
    @apply bg-ciphera-gradient bg-fixed;
  }
  
  .dark body {
    @apply bg-ciphera-gradient-dark;
  }
}
